body {
  padding: 50px;
  text-shadow: rgba(0, 0, 0, 0.19) 1px 0 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-family: Helvetica, Arial;
  background-color: #ffeff5;
}

.header {
  margin: 10px 10px 0px 10px;
}

#name {
  font-size: 30px;
}

h1 {
  font-size: 40px;
}

li {
  font-size: 25px;
  margin: 15px;
  box-shadow: 0px 0px 29px -10px rgba(255, 255, 255, 0.19);
}

#app-cover {
  top: 25%;
  right: 0;
  left: 0;
  width: 80%;
  height: 100px;
  margin: -4px auto;
}

/* position: relative; - элемент стоит именно там где по HTML,
top, booton, left и right не работают*/
#player-content {
  position: relative;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 30px 80px #65656518;
  border-radius: 15px;
}

/* overflow: hidden; - элемент не выходит за рамки заданых размеров,
то что выходит - обрезается */
#album-art {
  position: absolute;
  top: -40px;
  width: 115px;
  height: 115px;
  margin-left: 40px;
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #fff;
  border-radius: 50%;
  overflow: hidden;
}

/* :before и content для того чтобы добавить какой-то текстовый контент
до того как будет прогружен тот текст который написан в HTML*/
#album-art:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
}

#album-art img {
  width: 100%;
  height: 100%;
}

#player-controls {
  width: 250px;
  height: 100%;
  margin: 0 5px 0 141px;
  float: right;
}

/* float - в какую сторону будут повернуты мои элементы */
.control {
  float: left;
  padding: 12px 0;
}

.button {
  width: 26px;
  height: 26px;
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.button i {
  display: block;
  color: #d6dee7;
  font-size: 26px;
  text-align: center;
}

.button,
.button i {
  transition: 0.3s ease all;
}

.button:hover {
  background-color: #d6d6de;
}

@media (max-width: 720px) {
  #app-cover {
    width: 97%;
  }
  #player-content {
    width: 65%;
  }
  #album-art {
    position: absolute;
    top: -40px;
    left: -30px;
    width: 100px;
    height: 100px;
    margin-left: 40px;
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  #app-cover {
    width: 100%;
  }
  #player-content {
    width: 70%;
    height: 120px;
  }
  #album-art {
    top: -53px;
    left: -30px;
    width: 80px;
    height: 80px;
  }
  body {
    padding-left: 10px;
    padding-top: 70px;
  }
  ul {
    padding-left: 13px;
  }
  .control {
    padding: 10px 0;
    padding-left: 15px;
    padding-top: 37px;
  }
  .button i {
    font-size: 20px;
  }
  .button {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 360px) {
  #player-content {
    width: 76.5%;
    height: 100px;
  }
  #album-art {
    top: -58px;
    left: -28px;
    width: 73px;
    height: 73px;
  }
  body {
    padding-left: 0;
  }
  ul {
    padding-left: 0;
  }
  li {
    font-size: 21px;
  }
  #name {
    font-size: 24px;
  }
  .control {
    padding-left: 33px;
    padding-top: 25px;
  }
  .button i {
    font-size: 15px;
    margin: -7px;
  }
  .button {
    width: 0;
    height: 0;
  }
}
